@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
 
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #1B1D25;
  overflow: auto; 
}

body::-webkit-scrollbar {
display: none;
}

.background-video-container{
position:fixed;
top: 0;
left:0;
width: 100%;
height: 100%;
overflow: hidden;
z-index: -2;
}
.background-video-container video{
height: 120vh;
width: 100%;
object-fit: cover;
}


header{
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 20px 40px 0 40px;
  border-radius: 5px;
  position: fixed;
  width: 95%;
  top:0;
}

header span{
    color:rgb(223, 16, 116);
}

header div{
  margin-left: 20px;
}

.logo a{
  text-decoration: none;
  color: black;
  line-height: 2rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 1.5rem;
}

header ul{
  margin-right: 20px;
  
}
.nav {
  display:flex;
  flex-direction: row;
  gap: 50px;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
}

.nav a{
  text-decoration: none;
  color: black;
}

.nav a:hover{
  border-bottom: 2px solid rgb(227, 61, 19);
  color:rgb(223, 16, 116) ; 
}

.nav li{
  display: inline-flex;
}

.menu{
  display: none;
  border: 2px solid black;
  background: transparent;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  
}

.menu span {
  width: 25px;
  height: 3px;
  background: #ee55a2ad;
  display: block;
  margin: 5px 0;
}

.line{
  height:3px;
  width:20px;
  background-color: black;
  margin-bottom: 3px;
  
}

    
    main{
    margin: 120px 40px 0 40px;
    color: #e5e7eb;
    }
    
    main h1{
    text-align: center;
    color: #e5e7eb;
    font-size: 2rem;
    margin-top: 50px;
    }
    
    .sub{
        background-color: #23252e;
        margin-top: 50px;
        border-radius: 12px;
    }
    
    
    
    .innersublect{
        padding: 1px 15px 15px 15px;
    }
    
    .under{
        display: flex;
        justify-content:space-between ;
        font-size: large;
    }
    
    .score{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .score input{
        padding: 2px;
        width: 30px;
        background-color:dimgray;
        color: aliceblue;
        text-align: center;
        font-size: medium;
        font-weight: bold;
        border-radius: 7px;
    }
    
    .mark {
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .mark select{
       background-color: dimgray;
       color: aliceblue;
       font-size: medium;
       font-weight: bold;
       border-radius: 9px;
    }
    .button{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    #total{
        font-size: 1.2rem;
        cursor: pointer;
        padding: 10px;
        background-color: #1B1D25;
        color: aliceblue;
        height: 8vh;
        border: 3px solid rgb(223, 16, 116) ;
        border-radius: 375rem;
      }
    #total:hover{
        border-radius: 375rem;
        background-image:linear-gradient(to right, rgb(223, 16, 116), rgb(227, 61, 19))  ;
      }
     
    
    .result{
        text-align: center;
        font-size: 30px;
        color:rgb(223, 16, 116);
    }
    
    footer{
    margin-top: 330px;
    background-color: rgb(22, 23, 30);
    height:150px;
    color: rgb(156 163 175);
    text-align: center;
    padding-top: 20px;
    }
    
    footer hr{
    width:95%;
    }
    
    footer a{
    color:rgb(156 163 175);
    text-decoration: none;
    }
    
    footer a:hover{
    color:#e5e7eb;
    }
    
    
    .footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 0 40px;
    top:60px;
    }
    
    .logo2 a{
    color: #e5e7eb;
    font-size: 2.5rem;
    line-height: 2rem;
    text-decoration: none;
    font-family:Montserrat, sans-serif;
    
    }
    
    .nav1 {
    display: flex;
    gap: 30px;
    overflow: hidden;
    }
    
    .nav1 a{
    text-decoration: none;
    color: rgb(156 163 175);
    }
    
    .nav1 li{
    display: block;
    }
    
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type=number] {
        appearance: textfield;
    }
    
    
    @media all and (max-width: 640px) {
    
      header{
        width: 90%;
        margin-left: 20px;
      }
    
      .nav{
        flex-direction: column;
         max-height: 0;
         background-color: aliceblue;
         min-width: 100%;
         position: absolute;
         top: 60px;
         left: 0;
         gap: 0px;
         margin-right: 20px;
     }
      
        .nav li{
          display:block;
          padding: 10px 0;
      
        }
      
        .nav.open {
          max-height: 300px;
      }
      
        ul{
          text-align: center;
        }
      
        .menu{
          display:block;
          position: absolute;
          right: 20px;
        }
      
       footer{
        height:280px;
        
       }
       .nav1{
        flex-direction: row;
        flex-wrap: wrap;
       }
      
       main  h1{
        z-index: -1;
        
      }
        
      }
      